*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
@font-face {
    font-family: FP;
    src: url(../MIDIAS/FONTES/milany-regular.otf);
}
:root {
  --cor1: #00d870;
  --cor2: #00bf63;
  --cor3: #00743c;
  --cor4: #ff6565;
  --cor5: #ff2056;
  --cor6: #af002a;
  --cor7: #ffe88a;
  --cor8: #ffde59;
  --cor9: #141414;
  --cor10: #f1f1f1;
  --cor11: #33333b;
}
body{
    overflow-x: hidden;
    background-color: var(--cor9);
}
header{
    background-image: linear-gradient( var(--cor3), var(--cor9));
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-bottom: 30px;
}
header nav{
    opacity: 0;
    transition: all 0.3s ease;
}
nav {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    width: 100%;
}


header nav ul {
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.363);
    border-radius: 30px;
    width: 70%;
    
    list-style: none;
    align-items: center;
    display: flex;
    height: 50px;
    flex-direction: row;
}
header nav ul li {
    height: 50%;
    width: 20%;
    align-items: center;
    display: flex;
    justify-content: center;
}
header nav ul li a {
    padding: 10px;
    border-radius: 30px;
    align-items: center;
    font-size: 1vw;
    display: flex;
    justify-content: center;
    background-color: var(--cor3);
    color: var(--cor10);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    transition: 0.2s all;
}
nav ul li a:hover {
    transform: scale(1.1);
    background-color: var(--cor2);
}

#LT img{
    width: 40%;
    margin: 30px;
    filter: drop-shadow(0px 0px 10px black);
}
#LT{
    display: flex;
    flex-direction: column;
    align-items: center;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 90%;
    
}
section{
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    background-color: wheat;
    padding-bottom: 20px;
    border-radius: 0px 0px 20px 20px;
}
section h2{
    margin: 10px;
    font-size: 5vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    color: var(--cor10);
    background-color: var(--cor6);
    width: 100%;
    text-align: center;
    font-style: italic;
    box-shadow: 0px 0px 10px black;
    border: 1px solid black;
}
.cardapio{
    flex-wrap: wrap;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 20px;
    box-shadow: 0px 0px 10px black;
    background-color: var(--cor11);
}
.pizza{
    margin: 15px;
    background-color: wheat;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0px 0px 40px 40px;
    border: 3px solid black;
    overflow: hidden;
    box-shadow: 0px 0px 10px black;
}
.pizza img{
    width: 100%;
}
.glordon{
    --COP: rgb(53, 2, 66);
}
.driver{
    --COP: rgb(66, 2, 37);
}
.emmet{
    --COP: rgb(255, 217, 0);
}
.wicked{
    --COP: rgb(2, 66, 7);
}
.mumia{
    --COP: rgb(112, 42, 2);
}
.anakin{
    --COP: rgb(255, 0, 0);
}
.xeno{
    --COP: rgb(0, 0, 0);
}
.predador{
    --COP: rgb(0, 75, 44);
}
.ariel{
    --COP: rgb(146, 0, 204);
}
.pizza h3{
    width: 100%;
    color: var(--cor10);
    text-align: center;
    background-color: var(--COP);
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.pizza aside{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 40px;
    margin: 10px;
    justify-content: space-evenly;
}
aside button{
    width: 40px;
    font-size: 30px;
    border-radius: 10px 5px;
    border: 1px solid black;
    transition: 0.2s;
}
aside button:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 10px black;
}
.decr{
    color: var(--cor10);
    background-color: var(--cor6);
}
.incr{
    color: var(--cor10);
    background-color: var(--cor3);
}
.pizza .PR{
    margin-bottom: 5px;
    font-size: 20px;
    background-color: var(--cor1);
}
.pizza p{
    background-color: var(--COP);
    box-shadow: 0px 5px 10px black;
    border-bottom: 1px solid black;
    text-align: center;
    padding: 5px;
    color: var(--cor10);
    font-style: italic;
    width: 100%;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
footer{
    padding: 0;
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
#REC{
    width: 40%;
    background-color: #00743c;
    padding-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;
}
#REC h4{
    font-size: 3vw;
    color: var(--cor10);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#REC p{
    font-size: 1.5vw;
    color: var(--cor10);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#frame{
    border-radius: 0;
    width: 60%;
    background-color: var(--cor2);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0;
}
iframe{
    height: 70%;
    width: 70%;
    border-radius:  0px 30px;
    overflow: scroll;
    box-shadow: 0px 0px 10px black;
}
#popup {
    display: none;
    width: 50%;
    height: 30%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: white;
    border: 2px solid var(--cor1);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    padding: 10px;
    transition: all 0.3s ease;
    z-index: 100;
    overflow: auto;
}
#popup::-webkit-scrollbar {
    width: 10px;
}    
#popup::-webkit-scrollbar-thumb {
    background: var(--cor3);
    border-radius: 10px;
}
#popup h5{
    font-size: 2vw;
    font-weight: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: var(--cor9);
    margin: 5px;
}
#comprar{
    margin-top: 20px;
    padding: 10px 20px;
    background: var(--cor3);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1vw;
    transition: all 0.3s ease;
}
#fechar{
    margin-top: 20px;
    padding: 10px 20px;
    background: var(--cor6);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1vw;
    transition: all 0.3s ease;
}
#comprar:hover{
    background: var(--cor2);
    transform: scale(1.02);
}
#fechar:hover{
    background: var(--cor5);
    transform: scale(1.02);
}
  #popup.show {
    display: block;
  }
.qtd{
    font-size: 20px;
    align-items: center;
    display: flex;
    justify-content: center;  
}
#itens{
    margin-top: 10px;
    border-radius: 10px 40px;
    font-size: 1.5vw;
    color: var(--cor10);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(to right, var(--cor9), var(--cor8));
    margin-bottom: 10px;
    background-color: var(--cor4);
    padding: 10px;
    text-align: center;
}
#total{
    text-align: center;
    font-size: 2vw;
    color: var(--cor10);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--cor5);
    width: 100%;
    text-align: center;
    border-radius: 10px 40px;
    margin-bottom: 10px;
    padding: 10px;
}